.button {
    height: 30;
    width: 100;
  background-color: #2ca0ff;
  border: 2px solid blue;
    border-radius: 8px;
  color: white;
  padding: 2px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
    
    -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
    
    
}


.button:hover {
  background-color: black; 
  color: black;
}

.button p{
    font-size: 15px;
    
    margin-top: -125%;
    text-decoration: none;
}

.button a{
    text-decoration: none;
    color: white;
}