.line
{
    height: 10px;
    width: 100%;
    color: #432DD2;
}

.hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
border-color:#432DD2;
}