.line{
width: 200px;
height: 4px;
background: linear-gradient(to right,white,white);
background-color: #ccc;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
border-radius: 4px;
background-size: 20%;
background-repeat: repeat-y;
background-position: -25% 0;
animation:scroll 1.2s ease-in-out infinite;
}